/* Add CSS Styling */
.odd-num {
  background-color: #eca9a9;
  font-family: "DejaVu Sans", sans-serif;
}

.text {
  color: #0000ff;
  font-size: 32px;
}

.fonts {
  font-size: 24px;
}

.text-emphasis {
  background-color: #26f430;
  font-size: 24px;
  font-weight: bold;
}
