/* Add CSS Styling */
.text-bg,
.bg-style {
  font-size: 28px;
  font-family: "Helvetica", "Times New Roman", sans-serif;
}

.text-bg {
  background-color: #000000;
  color: #fff;
}

.bg-style {
  background-color: #ffff00;
}
